.complectationBlock {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 24px;
}

.iconForVehicleEquipment {
    width: 20px;
    height: 20px;
}

.textEquipment {
    font-weight: 500;
    font-size: 16px;
    padding-left: 8px;
}

.equipment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f2f4f7;
    width: 130px;
    border-radius: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.shortWord {
    width: 87px;
}